*.apk filter=lfs diff=lfs merge=lfs -text
proprietary/system_ext/priv-app/OplusAppPlatform/OplusAppPlatform.apk filter=lfs diff=lfs merge=lfs -text
proprietary/system_ext/priv-app/OnePlusGallery/OnePlusGallery.apk filter=lfs diff=lfs merge=lfs -text
proprietary/system_ext/priv-app/OplusCamera/OplusCamera.apk filter=lfs diff=lfs merge=lfs -text
libarcsoft*.so filter=lfs diff=lfs merge=lfs -text
